@import "~bootstrap/scss/bootstrap";
@import '~jquery-ui/themes/base/all.css';

.second-section {
    display:none;
}
.error-message {
    display:none;
}
.error-link {
    display:none;
}
.img-thumbnail {
    width:200px;
    margin:0 10px 10px 0;
}
.status span.price {
    margin-left:20px;
}
